div.timer {
    background: var(--blue-light);
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin: 2rem 0;

    p {
        color: #fff;
    }

    p.timer_name {
        font-weight: 300;
        margin-top: 0.75rem;
        margin-bottom: 0;
    }

    p.estimated_time {
        font-size: 3.5rem;
        margin: 0.25rem 0 1rem;
        font-weight: 700;
    }
}